.sass-cache
*.bak
*.orig
Gemfile.lock
bower_components
node_modules
/temp
connectRest*.log

# IDE files
nbproject
.idea
.netbeans.xml

# Dist
/css/
/docs/
/img/
/js/
/www/

# Per-user gulp config
/gulp-config-user.js
